@model List<Book>
<div class="flex flex-col gap-2 p-16">
    <h1 class="text-4xl font-bold">Welcome to the Library Management System</h1>
   
    <div class="flex  gap-2">
        @foreach (var author in ViewBag.Authors)
        {
            <div class="flex gap-2 items-center justify-center border border-gray-300 rounded-md p-2">
                <div class="w-10 h-10 rounded-full bg-gray-300"></div>  <a href="/Authors/@author" class="">@author</a>
            </div>
        }
    </div>
    <div class="grid grid-cols-4 gap-4 mt-8">
        @foreach (var book in Model)
        {
            <div class="flex flex-col gap-2 border border-gray-300 rounded-md p-4 shadow-md">
                <img src="@book.ImageUrl" alt="@book.Title" class="w-full h-48 object-cover rounded-md">
                <h2 class="text-2xl font-bold">@book.Title</h2>
                <p class="text-sm text-gray-500">@book.Author</p>
            </div>
        }
    </div>
</div>


