@using HellpAspNet.Controllers;
@model CityAndCountry


<h1>@ViewBag.Title</h1>
<p>@ViewBag.Message</p>

@for(int i = 0; i < 10; i++)
{
     <p>The current value of i is @i</p>
}

<select>
    @foreach(var city in Model.Cities)
    {
         <option value="@city">@city</option>
    }
</select>

<select>
    @foreach(var country in Model.Countries)
    {
         <option value="@country">@country</option>
    }
</select>

<table>
    <thead>
        <tr>
            <th>City</th>   
        </tr>
    </thead>
    <tbody>
        @foreach(var city in Model.Cities)
        {
             <tr>
                <td>@city</td>
             </tr>
        }
    </tbody>
</table>

