@model Book

<h1>Create Book</h1>

<form action="/books" method="post" class="flex flex-col gap-2 w-1/2 mx-auto">
    <div class="flex flex-col gap-2">
        <label asp-for="Title">Title</label>
        @Html.TextBoxFor(m => m.Title, new { @class = "border-2 border-gray-300 rounded-md p-2" })
        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-red-500" })
    </div>
    <div class="flex flex-col gap-2">
        <label asp-for="Author">Author</label>
        @Html.TextBoxFor(m => m.Author, new { @class = "border-2 border-gray-300 rounded-md p-2" })
        @Html.ValidationMessageFor(m => m.Author, "", new { @class = "text-red-500" })
    </div>
    <div class="flex flex-col gap-2">
        <label asp-for="Description">Description</label>
        @Html.TextBoxFor(m => m.Description, new { @class = "border-2 border-gray-300 rounded-md p-2" })
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-red-500" })
    </div>
    <div class="flex flex-col gap-2">
        <label asp-for="ImageUrl">Image URL</label>
        @Html.TextBoxFor(m => m.ImageUrl, new { @class = "border-2 border-gray-300 rounded-md p-2" })
        @Html.ValidationMessageFor(m => m.ImageUrl, "", new { @class = "text-red-500" })
    </div>
    <div class="flex flex-col gap-2">
        <label asp-for="Category">Category</label>
        <select asp-for="Category" class="border-2 border-gray-300 rounded-md p-2">
          @foreach (var category in Enum.GetValues(typeof(Category)))
          {
              <option value="@category">@category</option>
          }
       </select>
       @Html.ValidationMessageFor(m => m.Category, "", new { @class = "text-red-500" })
    </div>
    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">Create</button>
</form>
